<div class="container">
  <span>PRODUCTOS</span>
  <input class="search-box" type="text" placeholder="Buscar por nombre de producto" [(ngModel)]="searchText" name="search" (blur)="searchProduct()">
  <table class="table">
    <thead>
      <tr>
        <th *ngFor="let column of columns">
          {{column.title}}
        </th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of filteredProducts">
      <td>{{product.productName}}</td>
      <td>{{product.category}}</td>
      <td>{{product.price}}</td>
      <td>{{validateStock(product.stock)}}</td>
      <td>{{product.discount}}%</td>
      <td>
        <input type="checkbox" [(ngModel)]="product.checked" [disabled]="validateEnableAdd(product)" (change)="handleCheckedProduct(product)">
      </td>
    </tr>
    </tbody>
  </table>
  <div class="amount-content">
    <div class="amount-info">
      <span>Subtotal:</span>
      <div>{{subtotal | currency:'USD'}}</div>
    </div>
    <div class="amount-info">
      <span>IVA:</span>
      <div>{{iva | currency:'USD'}}</div>
    </div>
    <div class="amount-info">
      <span>Descuento:</span>
      <div>{{discount}}</div>
    </div>
    <div class="amount-info">
      <span>Total:</span>
      <div>{{total | currency:'USD'}}</div>
    </div>
    <button (click)="clean()">Limpiar</button>
  </div>
</div>
